---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.btn--black {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border: 2px solid #000; /* Black border */
    padding: 10px 20px; /* Adjust padding for size */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold;
    display: inline-block;
    text-align: center;
  }
  
.btn--black:hover {
    background-color: #444; /* Dark gray on hover */
    border-color: #444; /* Match border to hover color */
    color: #fff; /* Keep text white */
}

// .portfolio-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   gap: 20px;
// }

// .portfolio-item {
//   display: block;
//   text-decoration: none;
//   color: inherit;
//   border: 1px solid #ddd;
//   border-radius: 8px;
//   overflow: hidden;
//   transition: transform 0.3s, box-shadow 0.3s;
// }

// .portfolio-item:hover {
//   transform: scale(1.05);
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
// }

// .portfolio-image {
//   width: 100%;
//   height: auto;
//   display: block;
// }

// .portfolio-text {
//   padding: 15px;
//   text-align: center;
// }

// .portfolio-text h3 {
//   margin: 0;
//   font-size: 1.2em;
// }

// .portfolio-text p {
//   font-size: 0.9em;
//   color: #666;
// }
